<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header class="header-nav">
        <a href="<%= currentPage === 'home' ? '#' : 'javascript:history.back()' %>"
            class="btn btn-outline-secondary <%= currentPage === 'home' ? 'disabled' : '' %>"
            aria-disabled="<%= currentPage === 'home' %>">
            ← Back
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="/" class="nav-link <%= currentPage === 'home' ? 'active' : '' %>">
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a href="/addBlog" class="nav-link <%= currentPage === 'addBlog' ? 'active' : '' %>">
                    Add Blog
                </a>
            </li>
        </ul>

        <div></div>
    </header>
    <hr>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</body>

</html>